<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google" content="nositelinkssearchbox"><!-- Позволяет указать Google не предлагать перевести эту страницу -->

<link rel="stylesheet" href="./css/main.css">
<style>
    /* @font-face { 
        font-family: 'texgyreadventor';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: local('texgyreadventor'), url(./fonts/texgyreadv/texgyreadventorbold.woff2)format('woff2'),
            url(./fonts/texgyreadv/texgyreadventorbold.woff) format('woff');
    }*/
</style>
